<div id="values" class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            RGB
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col-xl-4 col-lg-11">
                    <input class="form-control text-danger" id="r-input" value="0" readonly>
                </div>
                <div class="col-xl-4 col-lg-11">
                    <input class="form-control text-success" id="g-input" value="0" readonly>
                </div>
                <div class="col-xl-4 col-lg-11">
                    <input class="form-control text-primary" id="b-input" value="0" readonly>
                </div>
            </div>
        </div>
    </div><br>
    <div class="card text-center">
        <div class="card-header">
            HSV
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col-xl-4 col-lg-11">
                    <input class="form-control text-danger" id="h-input" value="0" readonly>
                </div>
                <div class="col-xl-4 col-lg-11">
                    <input class="form-control text-success" id="s-input" value="0" readonly>
                </div>
                <div class="col-xl-4 col-lg-11">
                    <input class="form-control text-primary" id="v-input" value="0" readonly>
                </div>
            </div>
        </div>
    </div>
</div>