<br>
<div class="row justify-content-md-center">
  <div class="col-6">
        <div class="card">
            <div class="card-header">
                Museye, to hear the art.
            </div>
              <ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i>"L'osservatore non può essere separato da ciò che osserva"</i>
								</li>
						</ul>
            <div class="card-body">
                No, non lo diciamo noi ma Heisenberg.
                Dunque nell'osservare un'opera d'arte noi la influenziamo?
                Museye ti permette di dare forma a questa influenza, rendendo
                la tua esperienza di fruizione artistica ancora più personale e immersiva.
            </div>
        </div>
    </div>
</div>